@charset "utf-8";

*{
	font-size:11px;
}
a, a:link, a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color:red;
}

.title h1{
	text-align:center;
	font-size: 21px;
}
html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
body {
	border-radius: 10px;
    width: 70%;
	
    border: 1px solid black;
}	
#wrap{
	border-radius: 10px;
	/*text-align:center;*/
}
#tosWrap{
	border-radius: 10px;
	text-align:center;
	width:92%;
	border:1px solid black;
	margin:0 auto;
	padding:20px;
}
.tos{
	border:1px solid gray;
}
.tosCheckAll, .tosCheck{
	cursor:pointer;
}
.tosText{
	width:96%;
	height:80px;
	margin:0 auto;
	padding-left: 5px;
	padding-right:5px;
	border:1px solid black;
	padding-top:10px;
	overflow:auto;
	text-align:left;
}
.wrap{
	width:97%;
	text-align:left;
	margin-left:10px;
	padding-right:10px;
	
}
em{
	color:red;
	font-size:13px;
	font-weight:bold;
}
#redstar{
	color:red;
}
div{
	padding-top:3px;
	padding-bottom:3px;
}
#midWrap{
	border:0.5px solid gray;
}
.id{
	height:100%;
}

input{
	padding-top:3px;
	padding-bottom:3px;
	border-radius: 5px;
}
#phone1 {
    width: 7%;
	text-align:center;
}
#phone2, #phone3 {
    width: 11%;
	text-align:center;
}
#emailWrap{
	width:70%;
	margin:5px;
}
#emailHead, #eamilBody{
	width:30%;
}
.error{
    font-size: 1px;
    height: 10px;
    color:red;
    font-weight: bold;
}
#textBox{
	width:99%;
	margin-top:8px;
	margin-bottom:5px;
	padding-bottom:20px;
}
.footer{
	width:99%;
	display:inline-flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.ftBtn{
	background-color:lightgray;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	border:2px solid black;
	cursor:pointer;
	width:70px;
	height:30px;
	margin:20px;
	margin-top:5px;
}
.ftBtn:hover{
	background-color:lightgray;
	color:red;
	border:3px solid black;
}

#cancel{

}
#reset{
	
}
#signup{
	
}
.fnbWrap{
		display:inline-flex;
		width:100%;	
		border-top:1px solid black;
		justify-content:center ;
}
.fnbItem:nth-child(n+3){
		position: relative;
		margin-left: 5px;
		padding-left: 10px;
}
.fnbItem:nth-child(n+3)::after{
		position:absolute;
		left:0;
		top:3px;
		content:"";
		width:1px;
		height:11px;
		background-color: gray;
}
.fnbItem:nth-child(4){
	font-weight: bold;
}
